nav {
  background: url('/static/images/top-bg.jpg') repeat-x;
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#nav-content {
  height: 100%;
  text-align: center;
}

#nav-content::before {
  content: '';
  height: 100%;
  vertical-align: middle;
}

#nav-content::before,
#logo,
#menu-opener {
  display: inline-block;
}

#logo {
  height: 30px;
  margin-top: -4px;
  vertical-align: middle;
  width: 25px;
}

/** menu hamburger styling **/
#menu-opener,
#menu-opener .close-menu {
  cursor: pointer;
  height: 48px;
  left: 0;
  line-height: 48px;
  position: absolute;
  width: 48px;
}

#menu-opener .close-menu {
  display: none;
  color: #fff;
  font-size: 24px;
}

#hamburger-container {
  padding-top: 15px;
  padding-left: 10px;
}

#hamburger-container .hamburger {
  display: block;
  height: 2px;
  width: 28px;
  background-color: #fff;
  margin-bottom: 6px;
}

#menu-opener.menu-open #hamburger-container {
  display: none;
}

#menu-opener.menu-open .close-menu {
  display: block;
}

/** menu content styling **/
#menu-content {
  background-color: #61427B;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 48px;
  width: 100%;
  display: none;
}

#menu-content a {
  color: inherit;
  text-decoration: none;
}

#menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#menu .main-menu-item {
  display: block;
  padding: 14px 12px;
  border-bottom: 1px solid #fff;
}

/** Menu interactions **/
#main-content {
  position: absolute;
}

#menu-content.menu-open {
  display: block;
}

#main-content.menu-open {
  display: none;
}

body.menu-open {
  overflow: hidden;
}
