body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

h1, h2 {
  color: #bf1e65;
  margin: 0;
  padding: 4px 0;
}

h1 {
  font-size: 18px
}

h2 {
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 8px 0;
}

#main-content {
  top: 48px;
  width: 100%;
}

#hero {
  background: url('/static/images/mid-bg.jpg') repeat-x;
  padding: 12px 0;
}

#hero #hero-image {
  width: 90%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#after-hero {
  background: url('/static/images/main-bg.jpg') repeat-x;
  overflow: auto;
  height: 568px;
}

.card {
  border-right: 1px solid #a27db3;
  border-bottom: 1px solid #a27db3;
  border-left: 1px solid #a27db3;
  margin: 0 16px;
  padding: 8px;
  background: #fffef3;
}
