body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.base-logo {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding-bottom: 20px;
}

.base-margin-bottom-8 {
  margin-bottom: 8px;
}

.base-margin-bottom-12 {
  margin-bottom: 12px;
}

.base-tileList {
  word-break: break-word;
}

.base-oddTile,
.base-evenTile {
  margin-right: 4px;
}

.base-oddTile {
  color: #78C5E8;
}

.base-evenTile {
  color: #F93B6F;
}

.base-tiles,
.base-guides {
  display: inline-block;
  border: 1px solid #ededed;
  padding: 8px;
}

.base-guides {
  margin-top: 12px;
}

.base-guideRow {
  margin-bottom: 8px;
}

.base-guideTitle {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 4px;
}

.clearfix {
  clear: both;
}
