{% extends "sjt-base.html" %}
{% block css %}
  <link type="text/css" rel="stylesheet" href="/static/css/sjt-about.css" />
{% endblock css %}
{% block content %}
  <div id="after-hero">
    <div class="card margin-top-8">
      <h1>Our Mission</h1>
      <div class="mission">
        <p>
          Enrich the human spirit. Connect people beyond cultural and demographic boundaries.
        </p>
        <p>
          San Jose Taiko, with a deep respect of cultural traditions and a commitment to artistic excellence, is dedicated to the advancement of the taiko art form through the development of its world-class Performing Ensemble and the San Jose Taiko Conservatory.
        </p>
        <h2>San Jose Taiko Conservatory</h2>
        <p>
          San Jose Taiko's dedication to the development of the taiko art form is evident not only through performances but also in its diverse educational programs. The San Jose Taiko Conservatory includes nationally recognized programs like the highly acclaimed tour residencies and the Junior Taiko program, as well as the Adult Recreational Class, Public and Corporate Workshops, School Outreach Program, Summer Taiko at Stanford, Taiko Weekend Intensives, Summer Internship Program, and Master Classes. 
        </p>
        <p>
          Through the San Jose Taiko Conservatory, SJT is committed to providing professional development opportunities, technical assistance, and a comprehensive array of support and information about North American Taiko to individuals and organizations around the world. As the art form of taiko continues to evolve, the San Jose Taiko Conservatory will be dedicated to fulfilling the needs of the ever-expanding taiko community.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
