{% spaceless %}
<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html lang="en">
    <head>
      <link type="text/css" rel="stylesheet" href="/static/css/sjt.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
      <nav>
        <div id="nav-content">
          <div id="menu-opener">
            <div id="hamburger-container">
              <div class="hamburger"></div>
              <div class="hamburger"></div>
              <div class="hamburger"></div>
            </div>
          </div>
          <img src="/static/images/logo.gif" id="logo" />
        </div>
      </nav>
    </body>
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="static/js/sjt.js"></script>
  </html>
{% endspaceless %}
