{% spaceless %}
<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html lang="en">
    <head>
      <link type="text/css" rel="stylesheet" href="/static/css/sjt.css" />
      <link type="text/css" rel="stylesheet" href="/static/css/sjt-menu.css" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
      <nav id="nav">
        <div id="nav-content">
          <div id="menu-opener">
            <div id="hamburger-container">
              <div class="hamburger"></div>
              <div class="hamburger"></div>
              <div class="hamburger"></div>
            </div>
          </div>
          <img src="/static/images/logo.gif" id="logo" />
        </div>
      </nav>
      <div id="menu-content">
        <ul id="menu">
          <li class="main-menu-item">
            Menu Item
          </li>
          <li class="main-menu-item">
            Menu Item
          </li>
          <li class="main-menu-item">
            Menu Item
          </li>
          <li class="main-menu-item">
            Menu Item
          </li>
        </ul>
      </div>
      <div id="main-content">
        <div id="hero">
          <img src="/static/images/1.jpg" id="hero-image" />
        </div>
        <div id="after-hero">
          Blah
        </div>
      </div>
    </body>
    <script src="static/js/sjt.js"></script>
  </html>
{% endspaceless %}
